body {
    font-family: Lato, sans-serif;
    width: 100%;
    color: #424551;
    height: auto
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    line-height: 160%;

}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.main__about {
    padding: 180px 0 160px;
}

.main__directions {
    padding-bottom: 180px;

}

.button {
    /* reusable */
    color: #FFFFFF;
    letter-spacing: 0.5px;
    line-height: 52px;
    font-weight: 700;
    padding: 0 40px;
    border-radius: 4px;
    white-space: nowrap;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    transition: all 0.3s;
    display: inline-block;
}

.button:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 10px rgb(117, 107, 107);
}

.button--empty span {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button--empty {
    background-image: none;
    background-image: none;
    border-left: 2px solid #FF3F3A;
    border-right: 2px solid #F75E05;
    background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
    background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(left, #FF3F3A, #F75E05);
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
    border-radius: 4px;
}

.heading--text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* -------------------------------------------------------- */
.header {
    font-weight: 700;
    background: url(images/decor/Group2.svg) 50% 50%/ cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
    height: 1080px;
    display: flex;
    flex-direction: column;
}

.hader__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    margin-right: 60px;
}

.logo {}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    line-height: 160%;
    color: #424551;
    white-space: nowrap;
    transition: color 0.3s;
}

.header__nav-link:hover {
    color: #FF3F3A;
}

.header__btn-box {
    display: flex;
    align-items: center;
}


.header__top-btn {
    margin-right: 36px;
}

.header__user-btn {
    white-space: nowrap;
    line-height: 160%;
    transition: color 0.3s;
}

.header__user-btn:hover {
    color: #FF3F3A;

}

.header__user__nav {
    position: relative;
    padding-left: 28px;
}

.header__user__nav:before {
    content: '';
    display: block;
    position: absolute;
    background: url(images/icons/icon_login.svg) no-repeat;
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* ------------------------------------------- */

.header__body {
    flex: 1 1 auto;
    height: 100%;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__main {
    color: #1E212C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;

}

.header__content {
    margin-right: 30px;
}

.header__play {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.header__play:hover img {
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__play img {
    border-radius: 50%;
    margin-right: 16px;
    transition: all 1s;
}

.header__titile {
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 500px;
    margin-bottom: 60px;
}

.header__content-butttons {}

.header__content-btn {
    margin-right: 24px;
}

.header__content-btn:last-child {
    margin-right: 0px;
}

.button {}

.button--empty {}

.header__img {}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.header__row-item span {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
    margin-right: 12px;
}

.header__row-item {
    display: flex;
    align-items: center;
}

.header__ball {
    width: 8px;
    height: 8px;
    background: #FF3F3A;
    border-radius: 50%;
    margin: 0 15px;
}

/* ============================================================================================= */

.main {

    color: #1E212C;
}


.about__creatx::before {
    content: "";
    position: absolute;
    top: -84px;
    right: -174px;
    width: 100px;
    height: 85px;
    background: url(images/decor/shapes.svg);
}



.about__inner {}

.about__creatx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 180px;
    position: relative;
}

.about__creatx__content {
    max-width: 600px;
    margin-right: 30px;
}

.about__heading {
    margin-bottom: 48px;
}

.heading {}

.heading__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.heading__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

.about__text {
    margin-bottom: 60px;
}

.about__paragraph {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}

.about__paragraph:last-child {
    margin-bottom: 0;
}

.about__paragraph--accent {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}

.about__btn-box {}

.about__btn {
    margin-right: 24px;
}

.about__btn:last-child {
    margin-right: 0px;
}

.about__image {}

.about__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.about__values {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #1E212C;
    justify-content: space-between;
}

.about__numbers {
    margin-left: 30px;
    align-self: center;
}

.about__number span {
    color: #FF3F3A;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    vertical-align: middle;

}

.about__number {
    margin-bottom: 20px;
}


.about__number:last-child {
    margin-bottom: 0;
}

/* ------------------------------------------------------------------------------------------ */



.directions__inner {}

.directions__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
    position: relative;
}

.directions__heading::before {
    content: '';
    background: url(images/decor/Group.svg) 0 0/100% no-repeat;
    position: absolute;
    top: 9px;
    left: -184px;
    width: 136px;
    height: 136px;
}

.directions__filter-box {
    display: flex;
    margin-bottom: 57px;
    position: relative;
}

.directions__filter-box::after {
    content: '';
    position: absolute;
    top: 200px;
    right: -460px;
    width: 250px;
    height: 250px;
    background: url(images/decor/circles.svg) no-repeat;
}

.directions__filter-item {
    margin-right: 45px;
}

.directions__filter-item:last-child {
    margin-right: 0;
}

.directions__filter-btn {
    border-radius: 4px;
    padding: 1px 7px;
    align-items: center;
    line-height: 160%;
    white-space: nowrap;
    color: #9A9CA5;
    border: 1px solid #9A9CA5;
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;
}

.directions__filter-btn--active {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    color: white;
    padding: 2px 8px;
    border: 0;
}

.directions__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 30px;
}

.directions__list-item {}

.directions__list-link {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    transition: all 1s;
}

.directions__list-link:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    transition: all 0.3s;
}

.directions__list-link:hover .directions__link-btn {
    color: #FF3F3A;
    transition: all .3s;
}


.directions__image-box img {
    height: 100%;
    width: 100%;
}

.directions__link-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    border: 1px solid #E5E8ED;
    border-top: none;
}

.direction__link__tag {
    font-weight: 700;
    color: white;
    line-height: 1;
    background-color: #999;
    padding: 6px 8px;
    align-items: center;
    border-radius: 4px;
    align-self: flex-start;
    margin-bottom: 20px;
}

.directions__link__text {
    color: #787A80;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.directions__link-btn {
    color: #1E212C;
    font-weight: 700;
    display: flex;
    transition: all 1s;
}

.directions__link-btn::after {
    content: '';
    background: url(images/icons/stroke.svg) 0 60%/100% no-repeat;
    width: 24px;
    height: 24px;
    display: block;
    margin-left: 10px;
    transform: translatey(1px);
}

.directions__list-item--empty {
    background-color: #F4F5F7;
    text-align: center;
    color: #424551;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.empty__text {
    max-width: 240px;
}

.directions__list-item--marketing .direction__link__tag {
    background: #03CEA4;

}

.directions__list-item--management .direction__link__tag {
    background: #5A87FC;
}

.directions__list-item--hr .direction__link__tag {
    background: #F89828;
}

.directions__list-item--design .direction__link__tag {
    background: #F52F6E;
}

.directions__list-item--development .direction__link__tag {
    background: #7772F1;
}

/* ------------------------------------------------------------------------------------------------------------- */

.main__cert {
    margin-bottom: -45px;
    position: relative;
}

.main__cert::before {
    content: '';
    position: absolute;
    top: -21px;
    left: 87px;
    width: 61px;
    height: 61px;
    background: url(images/decor/shapes2.svg) 0 0 / 100% no-repeat;
}

.cert {}

.container {}

.cert__inner {
    display: flex;
    justify-content: space-between;

}

.cert__content {
    max-width: 400px;
    margin-right: 30px;
}

.cert__heading {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.cert__heading__subtitle {
    margin-bottom: 8px;
}

.cert__text {
    margin-bottom: 30px;
    color: #424551;
    font-weight: 400;
    line-height: 160%;
}

.cert__logos {
    display: flex;

}

.cert__logos-item {
    margin-right: 30px;
}

.cert__logos-item:last-child {
    margin-right: 0;
}

.cert__image-box {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    z-index: 1;
}

/* ==========================================TEAM============================================================================= */

/* ==========================================TEAM============================================================================= */

.main__team {
    padding: 166px 0 180px;
    position: relative;
}

.team {
    background: #F4F5F7;

}

.team__heading::before {
    content: '';
    background: url('images/decor/Vector.svg') 0 0 / 100% no-repeat;
    width: 43px;
    height: 43px;
    position: absolute;
    top: -95px;
    left: -141px;
}

.team__heading::after {
    content: '';
    background: url(images/decor/dots_team.svg);
    width: 143px;
    height: 105px;
    position: absolute;
    right: 250px;
    top: -125px;
}

.team__slider::before {
    content: '';
    background: url(images/decor/shapes_team.svg) no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 100px;
    right: -300px;
}

.team__heading {
    margin-bottom: 60px;
    position: relative;
}

.team__slider-arrows {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    line-height: 0;
    z-index: 0;
}

.team__slider-arrow {
    margin-right: 30px;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    display: block;
}

.team__slider-arrow:last-child {
    margin-right: 0;
}

.team__slider-arrow:hover path {
    transition: all .3s;
    fill: white;

}

.team__slider-arrow::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    z-index: -1;
    background: #FF3F3A;
    transition: all 0.3s;
}

.team__slider-arrow:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.team__slider {
    margin: 0 -15px;
}

.team__slide {
    padding: 0 15px;
}

.team__slide:hover .team__socials {
    transform: translateY(0%);
}

.team__image-box {
    border-radius: 4px;
    margin-bottom: 16px;
    position: relative;
    height: 340px;
    overflow: hidden;
}

.team__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team__image_ {
    height: 340px;
}

.team__socials {
    display: flex;
    position: absolute;
    align-items: flex-end;
    justify-content: flex-end;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    transform: translateY(50%);
    transition: all 0.4s;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
}

.team__item {
    margin-right: 12px;
}

.team__item:last-child {
    margin: 0;
}

.team__socials-link {
    display: block;
    line-height: 0;
}

.team__socials-link g {
    transition: all 0.3s;
}

.team__socials-link:hover g {
    opacity: 1;

}

.team__info {
    text-align: center;
}

.team__info-name {
    color: #424551;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}

.team__info-position {
    color: #787A80;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

/* =================================TESTIMONIALS===================================== */

/* ================================================================================== */

.testimonials {
    background-color: #F4F5F7;
}

.main__testimonials {
    padding-bottom: 195px;
}

.testimonials__slider-wrapper {
    padding: 0 50px;
    position: relative;
    margin-bottom: 33px;
}

.testimonials__slider-wrapper::before {
    content: '';
    background: url(images/decor/testi_circle.svg) no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 1;
    top: -270px;
    left: -300px;
}


.testimonials__heading {
    margin-bottom: 60px;
    position: relative;
    z-index: 1;
}

.testimonials__heading::before {
    content: '';
    background: url(images/decor/testi_shapes.svg);
    width: 87px;
    height: 47px;
    position: absolute;
    z-index: -1;
    top: 30px;
    right: 300px;
}

.testimonials__heading::after {
    content: '';
    background: url(images/decor/dots_team.svg);
    width: 143px;
    height: 105px;
    position: absolute;
    z-index: -1;
    top: 450px;
    right: 1100px;
}



.testimonials__slider {
    max-width: 1020px;
    margin: 0 auto;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}



.testimonials__slide {
    padding: 64px;
    background-color: #fff;
    border-radius: 4px;
}

.testimonials__slide-inner {
    max-width: 810px;
    margin: 0 auto;
    padding-left: 58px;
}

.quote {
    color: #424551;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    padding-bottom: 24px;
    position: relative;
}

.quote::before {
    content: '';
    background: url(images/decor/braces.svg);
    width: 28px;
    height: 20px;
    top: 0;
    left: -58px;
    position: absolute;
}

.testimonials__user {
    display: flex;
    align-items: center;
}

.testimonials__avatar {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.testimonials__info {}

.testimonials__name {
    color: #1E212C;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.testimonials__position {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.testimonials__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    z-index: 5;
}

.testimonials__prev {
    left: 0;
    display: flex;
    align-items: center;
}

.testimonials__next {
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.testimonials__arrow:hover path {
    transition: all .3s;
    fill: white;
}

.testimonials__arrow::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    z-index: -1;
    background: #FF3F3A;
    transition: all 0.3s;
}

.testimonials__arrow:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.testimonials__next::before {
    left: 41px;
}

.testimonials__prev::before {
    left: 10px;
}

.testimonials__dots {}

.testimonials__dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__dots li {
    margin-right: 12px;
}

.testimonials__dots li:last-child {
    margin-right: 0;
}

.testimonials__dots button {
    font-size: 0;
    background-color: transparent;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
}

.testimonials__dots button::before {
    content: '';
    height: 3px;
    width: 30px;
    border-radius: 3px;
    background-color: #B3B7BC;
}

.testimonials__dots .slick-active button::before {
    background-color: #424551;
    transition: all .3s;
}

/* =================================================COMPANIES============================================================================== */
/* =================================================COMPANIES============================================================================== */

.main__companies {
    padding-bottom: 153px;
    background: #F4F5F7;
}

.companies {}

.container {}

.companies__heading {
    margin-bottom: 60px;
    position: relative;
}

.companies__heading::after {
    content: '';
    width: 210px;
    height: 210px;
    position: absolute;
    top: -200px;
    right: -440px;
    background: url(images/decor/testi_circle2svg.svg) 0 0/100% no-repeat;
}

.companies__heading::before {
    content: '';
    width: 90px;
    height: 90px;
    position: absolute;
    top: 340px;
    left: -300px;
    background: url(images/decor/companies_shapes.svg) 0 0/100% no-repeat;
}

.companies__grid {
    display: grid;
    grid-template: auto auto / repeat(6, 1fr);
    gap: 40px 100px;
}

.companies__grid__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.companies__grid-link img {
    filter: grayscale(1);
    transition: all 0.3s;
}

.companies__grid-link:hover img {
    filter: grayscale(0)
}

/* =================================================PROGRAM============================================================================== */
/* =================================================PROGRAM============================================================================== */


.main__program {
    padding: 115px 0 185px;
}

.program {}

.program__heading {
    margin-bottom: 60px;
}

.program-inner {
    display: flex;
    justify-content: space-between;
}

.program__content {
    margin-right: 30px;
    max-width: 600px;
}

.program__acc {
    margin-bottom: 24px;
}


.program__acc-item {
    margin-bottom: 24px;
}

.program__acc-link {
    padding-left: 40px;
    display: block;
}

.program__acc-item:last-child {
    margin-bottom: 0;
}

.program__acc-head {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    position: relative;
}

.program__acc-head span {
    font-weight: 400;
    color: #FF3F3A;
}

.program__acc-head::before,
.program__acc-head::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -40px;
    width: 18px;
    height: 2px;
    background-color: #FF3F3A;
    border-radius: 2px;
}

.program__acc-head::before {}

.program__acc-head::after {
    transform: rotate(90deg);
    transition: all .3s;
}

.program__acc-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-top: 16px;
}


.program__acc-link--active .program__acc-head::after {
    transform: rotate(0deg);
}

.program__image {}


/* =================================================BLOG============================================================================== */
/* =================================================BLOG============================================================================== */

.blog {}

.main__blog {
    padding-bottom: 200px;
}

.blog-inner {}

.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.blog__heading {}


.blog__row {
    display: flex;
    margin: 0 -15px;
}

.blog__item {
    padding: 0 15px;
}

.blog__item-link {
    display: block;
    transition: all 0.3s;
}

.blog__item-link:hover .blog__item-button {
    color: #FF3F3A;
}

.blog__item-link:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    transition: all 0.3s;
}

.blog__item-inner {}

.blog__image-box {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.blog__image-box span {
    border-radius: 4px;
    background-color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
    position: absolute;
    left: 12px;
    top: 12px;
    padding: 1px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 16px;
}

.blog__image-box span::before {
    content: "";
    width: 14px;
    height: 16px;
    margin-right: 4px;
}

.blog__item--podcast .blog__image-box span::before {
    background: url(images/blog/icons/mic.svg) no-repeat;
    display: block;
}

.blog__item--video .blog__image-box span::before {
    background: url(images/blog/icons/play.svg) no-repeat;
    display: block;
    width: 16px;
}

.blog__item--article .blog__image-box span::before {
    background: url(images/blog/icons/article.svg) no-repeat;
    display: block;
}


.blog__item-content {}

.blog__item-info {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    margin: 0 -12px;
    margin-bottom: 8px;
}

.blog__info-el {
    padding: 0 12px;
    position: relative;
}

.blog__info-el::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 12px;
    background-color: #787A80;
}

.blog__info-el:first-child:after {
    content: none;

}


.blog__info-date {
    display: flex;
}

.blog__info-date::before {
    content: "";
    top: 50%;
    align-self: center;
    left: 0;
    width: 15px;
    height: 15px;
    background-image: url(images/blog/icons/1.svg);
    margin-right: 9px;
}

.blog__info-time {
    display: flex;
}

.blog__info-time::before {
    content: "";
    top: 50%;
    align-self: center;
    left: 0;
    width: 15px;
    height: 15px;
    background-image: url(images/blog/icons/Union.svg);
    margin-right: 9px;
}

.blog__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 8px;
}

.blog__item-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 16px;
}

.blog__item-text {
    margin-bottom: 16px;
}

.blog__item-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #1E212C;
    position: relative;
    display: inline-block;
}

.blog__item-button::after {
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -26px;
    position: absolute;
    width: 18px;
    height: 11px;
    background-image: url(images/icons/stroke.svg);
}

/* =================================================BLOG============================================================================== */
/* =================================================BLOG============================================================================== */

.map {}

.main__map {
    padding-bottom: 180px;
}

.container {}

.map-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map__content {
    margin-right: 30px;

}

.blog__heading {
    margin-bottom: 40px;
}

.map__contact {
    padding-left: 36px;
}

.map__contact-item {
    margin-bottom: 24px;
    position: relative;
}
.map__contact-item__box{
    
}
.map__contact-item__box::before{
    content: "";
    width: 24px;
    height: 24px;
    top: 0;
    left: -37px;
    position: absolute;
    
}

.map__contact-item--mail .map__contact-item__box::before{
    background: url(images/map/contact/1.svg);
    display: block;
}
.map__contact-item--phone .map__contact-item__box::before{
    background: url(images/map/contact/2.svg);
    display: block;
}
.map__contact-item--adress .map__contact-item__box::before{
    background: url(images/map/contact/3.svg);
}

.map__contact-item:last-child {
    margin-bottom: 48px;
}

.map__contact-item__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;

}

.map__contact-item__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1E212C;
}


.map__socials-box {
    padding-left: 7px;
}

.map__socials-box__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #1E212C;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.map__socials {
    display: flex;
}

.map__socials-item {
    padding-right: 32px;
}


#map {
    width: 705px;
    height: 412px;
    align-self: flex-end;
}